// First override some or all individual color variables
$primary: #25408f;
$secondary: #8f5325;
$success: #3e8d63;
$info: #13101c;
$warning: #945707;
$danger: #d62518;
$light: #f8f9fa;
$dark: #343a40;

// Then add them to your custom theme-colors map, together with any additional colors you might need
$theme-colors: (
	primary: $primary,
	secondary: $secondary,
	success: $success,
	info: $info,
	warning: $warning,
	danger: $danger,
	light: $light,
	dark: $dark,
	// add any additional color below
);

@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

body {
	   background: -moz-radial-gradient(circle at 4% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
	   background: -webkit-radial-gradient(circle at 4% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
	   background: -o-radial-gradient(circle at 4% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
	   background: -ms-radial-gradient(circle at 4% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
	   background: radial-gradient(circle at 4% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
	   color: white;
}

.main {
	text-align: center;
}


ul li {
	background: transparent;
	color: #ffffff;
	width: 800px;
	height: 100px;
	display: flex;
	justify-content: space-between;
	padding: 10px;
	margin: auto;
	border: 2px solid white;
	box-sizing: border-box;
	list-style-type: none;
}

.chirp_content {
	font-size: 22px;
}


.details {
	position: absolute;
	justify-content: center;
	text-align: center;
	display: flex;
	transform: translate(-50%,-50%);
	top: 40%;
	width: 25%;
	left: 50%;	
	border: 2px solid white;
	border-radius: 4px;
	box-sizing: border-box;
	padding: 5px 5px;
}

.details__link {
	font-size: 24px;
	padding: 10px;
	transition: transform 0.3s ease;
}

.details__link:hover {
	transform: scale(1.2);
}

.details__icon {
	color: white;
}

.create {
	text-align: center;
}

.create__form {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 450px;
	height: 450px;
	margin: auto;
	border: 2px solid white;
	border-radius: 4px;
	box-sizing: border-box;
	flex-direction: column;
	gap: 30px;
	
}

.create__form input {
	padding: 5px 10px;
	border: 1px solid white;
	background: transparent;
	border-radius: 5px;
	outline: none;
	color: #ffffff;
	caret-color: #ffffff;
	
}

.create__form__btn {
	font-size: 24px;
	background-color: transparent;
	border: 1px solid white;
	border-radius: 5px;
	padding: 7px 14px;
	color: white;
	transition: background 0.5s ease;
}

.create__form__btn:hover {
	background: black;
}

.create__link {
	position: fixed;
	text-align: center;
	bottom: 55px;
	left: 50px;
	width: 200px;
	padding: 5px;
	border: 1px solid white;
	background: transparent;
	border-radius: 5px;
	transition: background 0.5s ease;
}

.create__link:hover {
	background: black;
}

.create__chirp__btn {
	font-size: 32px;
	padding: 10px;
	color: white;
}

.delete__chirp__btn {
	font-size: 24px;
	background-color: transparent;
	border: 1px solid white;
	border-radius: 5px;
	padding: 7px 14px;
	margin-left: 5px;
	color: white;
	transition: background 0.5s ease;
}

.delete__chirp__btn:hover {
	background: black;
}

.edit__chirp__btn {
	font-size: 24px;
	background-color: transparent;
	border: 1px solid white;
	border-radius: 5px;
	padding: 7px 14px;
	margin-right: 5px;
	color: white;
	transition: background 0.5s ease;
}

.edit__chirp__btn:hover {
	background: black;
}

.edit__submit_chirp__btn {
	
	font-size: 24px;
	background-color: transparent;
	border: 1px solid white;
	border-radius: 5px;
	padding: 7px 14px;
	margin-right: 5px;
	color: white;
	transition: background 0.5s ease;
}

.edit__submit_chirp__btn:hover {
	background: black;
}

.edit__form {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 450px;
	height: 450px;
	margin: auto;
	border: 2px solid white;
	border-radius: 4px;
	box-sizing: border-box;
	flex-direction: column;
	gap: 30px;
}

.edit__form input {
	padding: 5px 10px;
	border: 1px solid white;
	background: transparent;
	border-radius: 5px;
	outline: none;
	color: #ffffff;
	caret-color: #ffffff;
}

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}